.container {
  margin: 50px auto 20px auto;
  width: 90%;
  max-width: 1200px;
}

.text-center {
  text-align: center;
}

.title {
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 2px solid #1cafd4;
}

.comment {
  padding-left: 40px;
  background: rgba(90, 90, 90, 0.27);
  margin-bottom: 30px;
}

.comment-inner {
  padding-left: 20px;
  background: #ffffff;
  border-bottom: 2px solid #1cafd4;
}
