.header {
  display: flex;
  justify-content: center;
  padding: 40px 30px;
}

.menu__button {
  border: none;
  background: none;
  padding: 6px 16px;
  border-bottom: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 100ms ease-in;
}

.menu__button:not(:last-child) {
  margin-right: 24px;
}

.menu__button:hover,
.menu__button.active {
  border-bottom: 2px solid #1cafd4;
}

